body {
  background-color: #fff;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  margin: 0;
}

h1 {
  color: hotpink; /* Modified color to hotpink */
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border-bottom: 10px dotted purple; /* Modified border-bottom style and color */
}

h2 {
  font-size: 1.5em;
  font-style: italic; /* Added italic style */
}


.job-title {
  color: #999999;
  font-weight: bold;
}
ul {
  background-color: #eeeeee;
  border: 5px solid purple;
  padding: 25px; /* Added padding */
}
a:link,
a:visited {
  color: #fb6542;
}

a:hover {
  color: green; /* Modified color on hover to green */
  text-decoration: none;
}